.flashcard {
    width: 300px;
    height: 200px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; 
  }
  
  .content {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }